DATABASE_URL=postgresql+psycopg://postgres:12345678@localhost:2424/GAUGE_INVENTORY
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=gagecalibrationcmti@gmail.com
EMAIL_PASS=vlanezhwxqczfabk
EMAIL_FROM="CMTI Gauge Calibration <gagecalibrationcmti@gmail.com>"
APP_BASE_URL=http://localhost:3006
